<md-toolbar class="md-theme-indigo" layout="row">
    <h2 class="md-toolbar-tools">OTWL REMINDER</h2>
    <span flex></span>
    <md-button ng-click="close()">Close</md-button>
</md-toolbar>
<md-content layout-padding="" layout="column" layout-align="start start">
    <md-button ng-click="masterc.switchHard('reminder')" class="md-primary">OCEAN DOCS</md-button>
</md-content>

<md-toolbar class="md-theme-accent" layout="row">
    <h2 class="md-toolbar-tools">SUPPORT</h2>
</md-toolbar>
<md-content layout-padding="" layout="column" layout-align="start start">
    <md-button ng-click="switchHard('work')" class="md-primary">Frequently Asked Questions</md-button>
    <md-button ng-click="switchHard('changelog')" class="md-primary">CHANGELOG</md-button>
</md-content>