body {
  height: 100%;
}

body #mainMasterBody {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
}

body #mainMasterBody #mainBody {
  background-color: rgb(233, 232, 232);
  vertical-align: middle;
  flex: 1;
}

body #mainMasterBody #mainBody .reminderClass{
  height: 100%;
  font-size: 12px;
}

.md-button {
  min-width: 2%;
  min-height: 1% !important;
}

.middle-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-sk {
  border-color: #006699;
}

.panel-sk>.panel-heading {
  background-color: #006699;
  color: #fff;
  /*text-color*/
  border-color: #006699;
  font-weight: bold;
  font-family: 'Segoe UI';
}