<!DOCTYPE html>
<html ng-app="otwlApp">

<head>
  <meta charset="UTF-8">
  <title>OTWL DESKTOP APP</title>

  <script src="../assets/angular-1.5.0/angular.min.js"></script>
  <script src="../assets/angular-1.5.0/angular-animate.min.js"></script>
  <script src="../assets/angular-1.5.0/angular-aria.min.js"></script>
  <script src="../assets/angular-1.5.0/angular-messages.min.js"></script>

  <link href="../assets/angular-1.5.0/bower1.1.5-angular-material.css" rel="stylesheet" />
  <link href="../assets/angular-1.5.0/material-1.1.5-docs.css" rel="stylesheet" />
  <script src="../assets/angular-1.5.0/material114-svg-assets-cache.js"></script>
  <script src="../assets/angular-1.5.0/angular-material-1.1.4.min.js"></script>

  <link href="../assets/ui-grid-info-4.0.7/ui-grid.min.css" rel="stylesheet" />
  <script src="../assets/ui-grid-info-4.0.7/ui-grid.min.js"></script>

  <script src="../assets/ui-bootstrap-ng/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link href="../assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->

  <link href="common/css/index.css" rel="stylesheet" />

</head>

<body>

  <div id="mainMasterBody" ng-controller="MasterController">


    <section class="ben2" layout="row" layout-sm="row" layout-align="space-between start">
      <div>
        <img src="../assets/images/ocean_logo.png" alt="Girl in a jacket" width="110" height="40">
      </div>
      <div>
        <md-button class="md-fab md-mini md-primary" ng-click="masterc.toggleSideNav()">
          <md-icon md-svg-src="../assets/icons/win/list_white.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" ng-click="masterc.minimizeWindow()">🗕</md-button>
        <md-button class="md-fab md-mini md-primary" ng-click="masterc.closeWindow()">✖</md-button>
      </div>
    </section>


    <div id="mainBody" class="middle-aligner" ng-switch="masterc.toShow">
      <div ng-switch-when="landing">
        <ng-include src="'common/html/landing.html'" ng-controller="landing"></ng-include>
      </div>
      <div ng-switch-when="login">
        <ng-include src="'common/html/login.html'" ng-controller="login"></ng-include>
      </div>
      <div ng-switch-when="reminder" class="reminderClass">
        <ng-include src="'common/html/reminder.html'"  ng-controller="reminder"></ng-include>
      </div>
      <div ng-switch-when="test">
        <ng-include src="'common/html/test.html'"></ng-include>
      </div>
    </div>


  </div>
  <section class="sidenavClass" layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" id="leftSideNav" md-disable-backdrop="true">
      <div ng-include src="'common/html/sidenav.html'"></div>
    </md-sidenav>
  </section>

  <script>
    require('../renderer.js')
  </script>
  <script src="ang_mn.js"></script>
  <script src="ang_sv.js"></script>
  <script src="ang_master.js"></script>
  <script src="common/js/login.js"></script>
  <script src="common/js/landing.js"></script>
  <script src="common/js/reminder.js"></script>
  <script src="common/js/reminderForm.js"></script>



</body>

</html>